# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Jonathan Martindell
	excludesfile = /Users/jmartindell/.gitignore_global
[user]
	name = Jonathan Martindell
	email = jmartindell@covermymeds.com
[init]
	templatedir = ~/.git_template
[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
